@import url('colors.css');
:root {
  --accent-bg-color: @accent_bg_color;
  --accent-fg-color: @accent_fg_color;
  --window-bg-color: @window_bg_color;
  --window-fg-color: @window_fg_color;
  --view-bg-color: @view_bg_color;
  --view-fg-color: @view_fg_color;
  --headerbar-bg-color: @headerbar_bg_color;
  --headerbar-fg-color: @headerbar_fg_color;
  --popover-bg-color: @popover_bg_color;
  --popover-fg-color: @popover_fg_color;
  --card-bg-color: @card_bg_color;
  --card-fg-color: @card_fg_color;
  --sidebar-bg-color: @sidebar_bg_color;
  --sidebar-fg-color: @sidebar_fg_color;
  --sidebar-border-color: @sidebar_border_color;
  --sidebar-backdrop-color: @sidebar_backdrop_color;
}
